<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look at me!</h1>
      <h4 class="subheader">Let's get busy writing my code.</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/tdawg.jpg" />
      <p>My name is Winnie and I am a sophomore engineering major and computer science minor at Smith College. I love coding and designing and I'm really interested in using technology to make an impact. I'm into wireless networks and power systems just as much as I'm into python and java. I hope one day to make a great electrical and computer engineer.</p>
      <p>I'm from Kenya, a beautiful country in East Africa that's making amazing technology breakthroughs (heard of the Silicon Savannah?). I am looking for people who like me are interested in being a part of the African tech revolution. I am still developing this website and any ideas are welcome. Let's do this!</p>
    </div>
  </main>
</body>
</html>