<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">
    <header>
        <% include ../helpers/navbar %>
      </header>

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Look what I did!</h1>
    </div>
    <div class="container">
      <div class="code-container">
        <img src="/images/facebook.png"/>
        <div>
          <h3>ELIZA</h3>
          <p> We built[adopted and improved :)] this really cool program called ELIZA that acts as a virtual therapist. You can ask her questions and tell her about your life, she has an answer and good advice for you. Who needs a journal am I right?</p>
      </div>
    </div>
    <div class="code-container">
      <img src="/images/spotify.png"/>
      <div>
        <h3>Spooky Mansion</h3>
        <p> My professor helped us create a game called spooky mansion that leads you through different rooms in a haunted house that you're trying to escape from. Wanna stay with us tonight?</p>
      </div>
    </div>
    <div class="code-container">
      <img src="/images/google.png"/>
      <div>
        <h3>Translator</h3>
        <p> Ever wondered how google translates your native language to English (though to be honest some of these translations are hillarious). Well we know how! And it all has to do with the frequency of specific letters in your language. Isn't that cool?</p>
      </div>
    </div>
  </main>
</body>
</html>